In [1]:
123
type(123)

int

In [2]:
123.45
type(123.45)

float

In [3]:
'123.45'
type('123.45')

str

In [4]:
print('Hello world!')

Hello world!

In [6]:
x = 123
y = 123.45
z = '123.45'
print(x,y,z)
print(type(x),type(y),type(z))

123 123.45 123.45
<class 'int'> <class 'float'> <class 'str'>

In [7]:
sign_up = True
print(type(sign_up))

<class 'bool'>

In [8]:
z = 'The result of '+ str(x) + '+' + str(y) + '=' + str(x+y)
print(z)

The result of 123+123.45=246.45

In [9]:
z = 'I am from CUC'
print(z[0:4])
print(z[0:14])
print(z[-3:])

I am
I am from CUC
CUC

In [11]:
print(len(z))
print(z[0:13])
print(z[-2:])
print(z[10:13])

13
I am from CUC
UC
CUC

In [17]:
famous_person = 'Princess Diana'
famous_person2 = 'Prince Charles'
famous_person3 = famous_person.replace('Diana','Kate')
print(famous_person3)

Princess Kate

In [13]:
print(famous_person.split())

['Princess', 'Diana']

In [14]:
famous_person4 = famous_person2.replace('Charles','Willam')
print(famous_person4)

Prince Willam

In [15]:
famous_person4 = famous_person4.upper()
print(famous_person4)

PRINCE WILLAM

In [18]:
print(famous_person4.find('PRINCE'))
print(famous_person.find('Diana'))
print(famous_person.find('Kate'))

0
9
-1

In [19]:
x = 3.14
y = str(x)
type(y)

str

In [21]:
x = 3
y = float(x)
type(y)

float

In [22]:
tuple1=(1,1.32,2,'CUC')
print(tuple1)

(1, 1.32, 2, 'CUC')

In [23]:
list1=[1,2,3,4,5,1.5]
print(sorted(list1))

[1, 1.5, 2, 3, 4, 5]

In [24]:
score_list = [100,95,85,60,60.5,70]
print(score_list[3])
score_list.append(50)
print(score_list)

60
[100, 95, 85, 60, 60.5, 70, 50]

In [25]:
del(score_list[6])
print(score_list)

[100, 95, 85, 60, 60.5, 70]

In [26]:
print(score_list[3:7])
print(score_list)

[60, 60.5, 70]
[100, 95, 85, 60, 60.5, 70]

In [27]:
score_list.append([1,2,3,'I am from CUC',True])
print(score_list)

[100, 95, 85, 60, 60.5, 70, [1, 2, 3, 'I am from CUC', True]]

In [28]:
second_list = [11,22,33]
second_list.append([44,55,66])
score_list.append(second_list)
print(score_list)

[100, 95, 85, 60, 60.5, 70, [1, 2, 3, 'I am from CUC', True], [11, 22, 33, [44, 55, 66]]]

In [29]:
score_list.remove(100)
print(score_list)

[95, 85, 60, 60.5, 70, [1, 2, 3, 'I am from CUC', True], [11, 22, 33, [44, 55, 66]]]

In [31]:
dict1 = {'Peter':80, 'David':70, 'Mary':90}
print(dict1)
print(dict1.keys())
print(dict1.values())

{'Peter': 80, 'David': 70, 'Mary': 90}
dict_keys(['Peter', 'David', 'Mary'])
dict_values([80, 70, 90])

In [32]:
print(dict1['David'])

70

In [33]:
score_list = []
score_list.append(dict1)
print(score_list)

[{'Peter': 80, 'David': 70, 'Mary': 90}]

In [35]:
test1 = {'Peter': 80, 'David': 70, 'Mary': 90}
test2 = {'Peter': 100, 'David': 90,'Mary': 80}
score_list= []
score_list.append(test1)
score_list.append(test2)
print(score_list)

[{'Peter': 80, 'David': 70, 'Mary': 90}, {'Peter': 100, 'David': 90, 'Mary': 80}]

In [36]:
my_set = {1.0,'Hello',(1,2,3)}
print(my_set)

{1.0, 'Hello', (1, 2, 3)}

In [37]:
print(type(my_set))

<class 'set'>

In [38]:
my_set = {1,2,2,4,5}
print(my_set)

{1, 2, 4, 5}